
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>

Any Question? Feel free to contact us on any of the methods stated below and we'd be happy to help!
<br />
<br/>
<h3> 
    Contact Information
</h3>
<p>
    Telephone Number: 071 554 9898

</p>
<p>
    Email: jamesk@khumalocraft.com
</p>
<p>
    Fax: 021 454 4545
</p>
<br/>
<p>
    Please note! Telephone Hours are from 8:00 - 17:00, Monday to Friday. Whereas if you chose to contact us on email or fax, you should receive an answer within 1-2 working days!
</p>
